/* mix */
.site_main_color  {
  background-color: #1abc9c;
}

.site_secondary_color {
  background-color: #2c3e50;
  color: white;
}
/* mix end */
/* fixed top menu */
.menu {
  width: 100%;
  position: fixed;
  padding: 40px 0;
  z-index: 1;
}
/* start use bootstrap */
.menu_left  {
  float: left;
}
/* start use bootstrap end */
/* nav */
.menu_right  {
  float: right;
}
/* nav */
/* fixed top menu end */
/* hero */
.hero {
  position: relative;
  height: 100vh
}

.banner  {
  width:300px;
  height: 300px;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* hero end */
/* portfolio */
.block_ex  {
  background-color: green;
  height: 100px;
  margin-bottom: 30px;
}
/* portfolio end */
/* copyright */
.copyright  {
  background-color: #1a252f;
  color: white;
  padding: 10px;
}
/* copyright end */
