/* mix */
* {
  font-family: 'Montserrat', sans-serif;
}

.not_decorated a {
  text-decoration: none;
  color: white;
}

.site_main_color  {
  background-color: #1abc9c;
  color: white;
}

.site_secondary_color {
  background-color: #2c3e50;
  color: white;
}

.separator {
  font-size: 30px;
  margin-bottom: 30px;
}

.separator .fa-star {
  vertical-align:text-bottom;
  display: inline-block;
  margin: 0 7px;
}


.line  {
  display: inline-block;
  width: 108px;
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 5px;
}
/* mix end */
/* fixed top menu */
.menu {
  width: 100%;
  position: fixed;
  padding: 20px 0;
  font-weight: 700;
  z-index: 1;
}

.menu_left h1 {
  font-size: 27px;
  margin-top:0;
  font-weight: 700;
}

.menu ul {
  font-size: 17px;
}

.menu ul li:not(:last-child) {
  margin-right: 40px;
}

.menu_btn  {
  padding: 13px;
  border-radius: 10px;
}
/* fixed top menu end */
/* hero */
.hero  {
  padding-top: 180px;
  padding-bottom: 100px;
}

.hero img {
  width: 250px;
}

.hero h1 {
  font-weight: 700;
  font-size: 60px;
  margin-top: 30px;
}

.hero p {
  font-size: 21px;
}
/* hero end */
/* portfolio */
.block_ex  {
  background-color: green;
  height: 100px;
  margin-bottom: 30px;
}
/* portfolio end */
/* copyright */
.copyright  {
  background-color: #1a252f;
  color: white;
  padding: 10px;
}
/* copyright end */
