.menu {
  width: 100%;
  background-color: grey;
  position: fixed;
  padding: 40px 0;
}

.menu_left  {
  float: left;
}

.menu_right  {
  float: right;
}

.hero {
  height: 110vh;
  background-color: #1abc9c;
}
