/* mix */
.site_main_color  {
  background-color: #1abc9c;
}

.site_secondary_color {
  background-color: #2c3e50;
  color: white;
}
/* mix end */
/* fixed top menu */
.menu {
  width: 100%;
  position: fixed;
  padding: 40px 0;
  z-index: 1;
  font-weight: 700;
}

*{
  font-family: 'Montserrat', sans-serif;
}
/* fixed top menu end */
.menu_left h1 {
  font-size: 27px;
  margin-top:0;
}

.not_decorated a {
  text-decoration: none;
  color: white;
}

.menu_btn  {
  padding: 13px;
  border-radius: 10px;
}
/* new */

.line  {
  display: inline-block;
  width: 50px;
  border: 1px solid black;
  border-radius: 5px;
}
